@import url('https: //fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100hv;
  background-color: rgb(240,250,240);
}
.container{
  width: 400px;
  background: rgba(210,210,210,0.8);
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 60px;
}

.container img{
  max-width: 200px;
  align-items: center;
  justify-content: space-around;
  border-radius: 60px;
}

.container h1{
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
}

.settingAlarm{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  justify-content: space-between;
}

.settingAlarm .column{
  border-radius: 30px;
  padding: 0 10px;
  border: 3px solid #aaa;
  width: calc(100%/3-5px);
}

.settingAlarm select{
  outline: none;
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.container button{
  width: 90%;
  outline: none;
  border: none;
  color: rgb(240,230,14);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 20px 0;
  border-radius: 50px;
  background: rgba(180,50,60,0.3);
}

.gradient{
  font-size: 2em;
  background: linear-gradient(135deg, #12BCB0 20%, #FABE0E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em;
  border: 3px solid transparent;
  border-image:linear-gradient(135deg, #12BCB0 20%, #FABE0E);
  border-image-slice: 1;
}
/* Додати після налаштування будильника */
.disable{
  opacity: 0.6;
  pointer-events: none;
}